extends layout

block content
  h1= title
  p Welcome to #{title}
  p The man with the world’s deepest voice can make sounds humans can’t hear
  button(type="button", class="btn btn-danger") Press Me
